main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .article {
    justify-content: space-evenly;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 5%;
    margin-bottom: 10%;

    &__header {
      display: inline-block;
      overflow: hidden;
      width: 45%;
      padding-bottom: 45%;
      height: 0;
      position: relative;
      &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
      }
    }

    h3 {
      margin-left: 5%;
      margin-top: 5%;
      align-self: flex-start;
      order: -1;
      padding: 3%;
      border-radius: 20%;
      background-color: lightcyan;
      width: min-content;
      font-size: 0.9em;
    }

    &__footer {
      &__types {
        margin: 5%;
        display: flex;
        font-style: italic;
        margin-bottom: 5%;

        &__span {
          flex: 1 1 0px;
          text-align: center;
          border-radius: 1%;
          font-size: 0.8em;
          margin: 0% 2%;
          padding: 2%;
        }
      }

      h2 {
        font-weight: bold;
        font-size: 1.5em;
        margin: 10% 5% 5%;
      }

      p {
        font-size: 1em;
        margin: 5% 5%;
      }

      &__logo {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        img {
          filter: grayscale(0%);
          transition: 0.3s ease-in-out;
          width: 25%;
        }
      }

      &__logo:hover {
        img {
          filter: grayscale(100);
        }
      }
    }
  }
}
