@media screen and (min-width: 600px) and (max-width: 850px) {
  main {
    flex-flow: row wrap;
    justify-content: center;

    .article {
      width: 45%;
      margin: 1%;
      height: 550px;
    }
  }
}

@media screen and (min-width: 850px) {
  .header {
    flex-direction: row;
    &__div {
      flex: 2;
      margin: 2%;
      &__title {
        margin-bottom: 2%;
        font-size: 1.9em;
      }

      &__presentation {
        font-size: 1.1em;
      }
    }
  }

  main {
    flex-flow: row wrap;
    justify-content: center;

    .article {
      width: 300px;
      margin: 1%;
      height: 550px;
    }
  }
}
