@media screen and (min-width: 600px) {
    main{
        flex-flow: row wrap;
        justify-content: center;

        .article{
            width: 45%;
            margin:  1%;
            height: 550px;
        }
    }
}