.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    @media screen and(min-width: 760px) {
        flex-direction: row;
    }
    &__span {
        @media screen and(min-width: 760px) {
            align-self: flex-start;
            margin: 20px;
        }
        &__img {
            width: 200px;
            border-radius: 50%;
        }
    }
    &__div {
        margin: 5%;
        &__title {
            font-size: 2.1em;
            font-weight: bold;
            margin-bottom: 5%;
        }

        &__presentation {
            font-size: 1.1em;
        }
    }
}
