@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
@media screen and (min-width: 760px) {
  .header {
    flex-direction: row;
  }
}
@media screen and (min-width: 760px) {
  .header__span {
    align-self: flex-start;
    margin: 20px;
  }
}
.header__span__img {
  width: 200px;
  border-radius: 50%;
}
.header__div {
  margin: 5%;
}
.header__div__title {
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 5%;
}
.header__div__presentation {
  font-size: 1.1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 760px) {
  main {
    flex-flow: row wrap;
    justify-content: center;
  }
}
main .article {
  justify-content: space-evenly;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
@media screen and (min-width: 760px) {
  main .article {
    max-width: 200px;
  }
}
main .article__header {
  display: inline-block;
  overflow: hidden;
  width: 45%;
  padding-bottom: 45%;
  height: 0;
  position: relative;
}
main .article__header__img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
main .article h3 {
  margin-left: 5%;
  margin-top: 5%;
  align-self: flex-start;
  order: -1;
  padding: 3%;
  border-radius: 12px;
  background-color: lightgray;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 0.9em;
}
main .article__footer__types {
  margin: 10px;
  display: flex;
  font-style: italic;
}
main .article__footer__types__span {
  text-transform: capitalize;
  padding: 5px 10px;
  flex: 1;
  text-align: center;
  font-size: 0.8em;
  margin: 0px 10px;
  border-radius: 12px;
}
main .article__footer h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 10% 5% 5%;
  text-transform: capitalize;
}
main .article__footer p {
  font-size: 1em;
  margin: 5% 5%;
}
main .article__footer__logo {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
main .article__footer__logo img {
  filter: grayscale(0%);
  transition: 0.3s ease-in-out;
  width: 25%;
}
main .article__footer__logo:hover img {
  filter: grayscale(100);
}

body {
  background-color: #f5deb3;
  font-family: "Poppins", sans-serif;
}